<footer>
  <div class="container">
    <div class="col-lg-12">
        <img src="/assets/logo.png" width="220" height="40" class="d-inline-block align-top" alt=""><br><hr>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-12 down">
          <ul>
            <li><a routerLink="/Kontakt">Kontakt</a></li>
            <li><a routerLink="/Regulamin">Regulamin serwisu</a></li>
            <li><a routerLink="/Polityka-Cookie">Polityka cookies</a></li>
            <li><a routerLink="/Reklama-Na-Stronie">Reklama na stronie</a></li>
            <li><a routerLink="/Pomoc">Pomoc</a></li>
          </ul>
      </div>
      <div class="col-lg-9 col-sm-12 down text-justify">
        RetroMotors.pl to serwis przeznaczony do wystawiania darmowych ogłoszeń z tematyki aut klasycznych, youngtimerów czy ogólnie posiadających miano kultowych.
        Ogłoszenia dotyczą zarówno sprzedaży aut, jak i ich wynajmu np. na wesela, imprezy okolicznościowe, filmy itp. Dodawanie ogłoszeń i korzystanie z serwisu jest bezpłatne!
      </div>
    </div>
    <hr>
      <div class="col-lg-12 col-sm-12 down text-center">
          <p>© 2017 Copyright RetroMotors.pl Korzystanie z serwisu oznacza akceptację <a routerLink="/Regulamin">regulaminu</a> oraz <a routerLink="/Polityka-Cookie">Politykę cookies</a></p>
      </div>
  </div>
</footer>
