footer{
    border-top: 5px solid #890C16;
    background-color: #32434D;
    color:#fff;
    padding-top:40px;
    padding-bottom: 30px;
    bottom:0;
    width:100%;
}
.down{
    margin-bottom: 20px;
}
a{
    color: white;
}
a:href{
    color: white;
    text-decoration: none;
}