/* Lista Material Design - konfiguracja */

mat-grid-tile {
    color: #444444;
    text-decoration: none;
    text-align: left;
  }

  mat-grid-list:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

  mat-grid-list {
    text-align: left;
    padding: 20px; 
  }

  .text-inside-grid {
    position: absolute;
    left: 2rem;
  }

  .grid-text > figure {
    justify-content: flex-start !important; 
}

.sprzedaz {
font-size: 14pt;
/* color: crimson; */
}