<!-- <div class="card-body row">
    <div class="col-lg-4 col-md-12">
            <a routerLink='/Ogloszenie/{{item.Guid}}' [ngStyle]="{'background-image': 'url(http://api.retromotors.pl/images/' + item.Image1 + ')'}">
                <img class="card-img" src="http://api.retromotors.pl/images/{{item.Image1}}" alt="xx" />
            </a>
    </div>
    <div class="col-lg-4 col-md-12">
        <h4 class="tytul">{{item.Ogloszenie}}</h4>
        <p class="card-text">
            rok: <strong>{{item.ProductionYear}}</strong> <br>
            przebieg: <strong>{{item.Mileage}} km</strong><br>
            pojemność: <strong>{{item.EngineDisplacement}} cm3</strong><br>
            miejscowość: <strong>{{item.City}} </strong><i>({{item.Voivodeship}})</i> 
        </p> 
    </div>
    <div class="col-lg-4 col-md-12 price-card">
        <div *ngIf="item.IsSelling">
                Sprzedaż: <p class="price">{{item.SellingPrice | currency: ' '}} zł</p> <br>
        </div>
        <div *ngIf="item.IsRental">
                Wynajem: <p class="price">{{item.RentalPrice | currency: ' '}} zł</p> <br>
        </div>                           
        <button mat-raised-button color="accent" type="button" (click)="goToPreview(item.Guid)">Przejdź do ogłoszenia</button>
    </div>
</div>
<br> -->
<a routerLink='/Ogloszenie/{{item.Guid}}'>
    <mat-grid-list cols="3" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="4">
            <a routerLink='/Ogloszenie/{{item.Guid}}' [ngStyle]="{'background-image': 'url(http://api.retromotors.pl/images/' + item.Image1 + ')'}">
                <img class="card-img" src="http://api.retromotors.pl/images/{{item.Image1}}" alt="xx" />
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" class="grid-text">
            <div class="text-inside-grid">
                <h4 class="">{{item.NoticeTitle}}</h4>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3" class="grid-text">
            <p class="text-inside-grid">
                rok:
                <strong>{{item.ProductionYear}}</strong>
                <br> przebieg:
                <strong>{{item.Mileage}} km</strong>
                <br> pojemność:
                <strong>{{item.EngineDisplacement}} cm3</strong>
                <br> miejscowość:
                <strong>{{item.City}} </strong>
                <i>({{item.Voivodeship}})</i>
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="3" class="grid-text">
            <p class="text-inside-grid sprzedaz">
                Sprzedaż:
                <strong class="price">{{item.SellingPrice | currency: ' '}} zł</strong>
                <br> Wynajem:
                <strong class="price">{{item.RentalPrice | currency: ' '}} zł</strong>
                <br>
            </p>
        </mat-grid-tile>
    </mat-grid-list>
</a>
<hr>