<div class="baner-image"></div>
<div class="background-opacity"></div>
<div class="white-background">
    <div class="container">
        <mat-card class="rozmiar">
            <div class="row panel">
                <div class="col-6 text">
                    <label>{{username}}</label>
                </div>
                <div class="col-6 textright text">
                    Stan Konta: 0 zł
                </div>
            </div>
            <div class="row">
                <div class="col-6 nav-rej">
                    <a routerLink="/UserPanel" routerLinkActive="active">
                        <h2 class="card-title">Moje ogłoszenia</h2>
                    </a>
                </div>
                <div class="col-6 nav-rej-active">
                    <h2 class="card-title">Moje ustawienia</h2>
                </div>
            </div>
            <div class="col-12">
                <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
                    <mat-card class="no-padding">
                        <mat-toolbar>Dane kontaktowe</mat-toolbar>
                        <mat-card-content>
                            <div class="col-12">
                                <br>
                                <div class="row justify-content-md-center">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 login-container">
                                        <br>
                                        <mat-form-field class="common-form-field">
                                            <input type="text" matInput formControlName="nick_name" placeholder="Nazwa użytkownika:">
                                        </mat-form-field>
                                        <mat-form-field class="common-form-field">
                                            <input type="text" matInput formControlName="email" placeholder="Adres e-mail:">
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button color="accent" type="submit">Aktualizuj dane</button>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 jumbotron">
                                        <p>Uzupełnienie "Nazwy Użytkownika" powoduje wyświetlenie się tej informacji zamiast
                                            adresu mailowego użytego do rejestracji.</p>
                                        <p>Zmiana adresu mailowego wymusi ponowną jego aktywacje poprzez wysłanie wiadomości
                                            weryfikującej
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </form>
                <form [formGroup]="modelFormPass" (ngSubmit)="onSubmitPass(modelFormPass)">
                    <mat-card class="no-padding">
                        <mat-toolbar>Zmiana hasła</mat-toolbar>
                        <mat-card-content>
                            <div class="col-12">
                                <br>
                                <div class="row justify-content-md-center">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 login-container">
                                            <mat-form-field>
                                                    <input matInput placeholder="Podaj aktualne hasło:" formControlName="oldPass" [type]="hide ? 'password' : 'text'">
                                                    <mat-hint *ngIf="formErrors.oldPass" class="text-danger" align="start">{{ formErrors.oldPass }}</mat-hint>
                                                  </mat-form-field>
                                                  <mat-form-field>
                                                        <input matInput placeholder="Podaj nowe hasło:" disabled  formControlName="newPass" [type]="hide ? 'password' : 'text'" >
                                                        <mat-hint *ngIf="formErrors.newPass" class="text-danger" align="start">{{ formErrors.newPass }}</mat-hint>
                                                      </mat-form-field>

                                                      <mat-form-field>             
                                                            <input matInput placeholder="Powtórz nowe hasło:" formControlName="newPassRet" [type]="hide ? 'password' : 'text'">
                                                            <mat-hint *ngIf="formErrors.newPassRet" class="text-danger" align="start">{{ formErrors.newPassRet }}</mat-hint>
                                                            <mat-hint *ngIf="modelFormPass.errors?.invalidComparePassword" class="text-danger" align="start">Hasła muszą być zgodne</mat-hint>                   
                                                          </mat-form-field>
                                        <br>
                                        <button *ngIf="!modelFormPass.valid" mat-raised-button color="accent" type="button" (click)="checkValidation()">Zmień hasło - sprawdzanie walidacji</button>
                                        <button *ngIf="modelFormPass.valid" mat-raised-button color="accent" type="submit" (click)="checkValidation()">Zmień hasło</button>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 jumbotron">
                                        <p>Do zmiany hasła wymagane jest podanie najpierw aktualnego hasła. Po wpisaniu prawidłowego hasła, pola z nowymi zostaną odblokowane</p>
                                        <p>Po aktualizacji hasła nastąpi wylogowanie z aplikacji. Ponowne logowanie powinno
                                            odbyć się za pośrednictwem nowego hasła.</p>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </form>
            </div>
        </mat-card>
    </div>
</div>
<br>
<br>