.login-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-container > * {
    width: 100%;
  }
  
  
  .form {
  width: 580px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  }
  /*dodane przez Szymon */

  .nav-rej-active a{
    color: #474747;
    text-decoration: none;
  }
  .nav-rej a{
    color: #474747;
    text-decoration: none;
  }
  
  .rozmiar{
  padding-top:0px ;
  padding-right: 15px ;
  padding-left: 15px ;
  }
  
  h2{
  font-size: 25px;
  }
  .nav-rej-active{
    padding-top:12px;
    color: #474747;
    font-weight:900;
    text-align: center;
    border-bottom: 3px solid #890C16;
    border-left: 1px solid #474747;
    margin-bottom:20px;
  }
  .nav-rej{
    padding-top:12px;
    color: #474747;
    font-weight:900;
    background: #DCDCDC;
    text-align: center;
    border-bottom: 3px solid #32434D;
    border-right: 1px solid #474747;
    margin-bottom:20px;
  }
  .panel{
    font-family: sans-serif;
    background-color: #32434D;
    color: white;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
  }
  .textright{
    text-align: right;
  }

  .form-control{
    margin-bottom: 10px;
  }
  .btn-primary{
    margin-top: 15px;
    background-color: #32434D;
    border-color: #32434D;
    margin-bottom:20px !important;
  }
  .no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mat-toolbar{
    background-color: #DCDCDC;
  }
  .mat-card-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .jumbotron{
    background-color: #DCDCDC !important;
  }
  button{
    margin-bottom:20px;
  }
