<div class="baner-image"></div>
<div class="background-opacity"></div>
<div class="white-background">
    <div class="container">
        <mat-card>
                <div class="row">
                        <div class="col-6 nav-log-active">
                            <h2 class="card-title"> Logowanie</h2>
                        </div>
                        <div class="col-6 nav-log">
                            <a routerLink="/Rejestracja" routerLinkActive="active"><h2 class="card-title">Rejestracja</h2></a>
                         </div>
                </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6">
                        <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
                            <mat-card-content>
                                <div class="col-12">
                                    <br>
                                    <div class="login-container">
                                        <mat-form-field>
                                            <input matInput placeholder="E-mail" formControlName="login">
                                            <mat-hint *ngIf="formErrors.login" class="text-danger">{{ formErrors.login }}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="login-container">
                                        <mat-form-field>
                                            <input matInput placeholder="Hasło" formControlName="password" [type]="hide ? 'password' : 'text'">
                                            <mat-hint *ngIf="formErrors.password" class="text-danger" align="start">{{ formErrors.password }}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <br>
                                <div class="col-12">
                                    <mat-checkbox> Zapamiętaj mnie</mat-checkbox>
                                </div>
                                <br>
                                <div class="col-12">
                                    <p *ngIf="error" class="text-danger">{{error}}</p>
                                    <button *ngIf="!modelForm.valid" mat-raised-button color="accent" type="button" (click)="checkValidation()">Zaloguj się</button>
                                    <button *ngIf="modelForm.valid" mat-raised-button color="accent" type="submit" (click)="checkValidation()">Zaloguj się</button>                             
                                </div>
                                <br>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                                <button mat-button color="" type="button" (click)="goToRegister()">Zapomniałeś hasła? </button>
                                          <!-- !-- <a routerLink="/Rejestracja" routerLinkActive="active">Zapomniałeś hasła?</a> -->
                                        </div>
                                        <div class="col-6">
                                                <button mat-button color="" type="button" (click)="goToRegister()">Rejestracja </button>
                                            <!--<a routerLink="/Rejestracja" routerLinkActive="active">Rejestracja</a> -->
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="jumbotron">
                            <p> Zalogowanie oznacza akceptację Regulaminu serwisu retromotors.pl w aktualnym brzmieniu. Jeśli
                                nie akceptujesz warunków zmienionego Regulaminu serwisu retromotors.pl, wyślij oświadczenie
                                o rozwiązaniu Umowy w trybie przewidzianym w Regulaminie.*</p>
                            <hr class="my-4">
                            <p>
                                <button mat-button color="" type="button" (click)="goToTerms()">Przejdź do regulaminu</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <br>
</div>
<br>

<!-- <div>
    <pre>Czy wszystkie pola są wypełnione prawidłowo?: <br>{{modelForm.valid | json}}</pre>
    <pre>Pola Formularz/ obiekt json: <br>{{modelForm.value | json}}</pre>
</div> -->