<mat-card *ngIf="bigSize">
    <mat-toolbar>Najnowsze ogłoszenia</mat-toolbar>
    <hr>
    <mat-card-content>
        <div class="card-list">
            <div *ngFor="let item of bigNoticeList" class="card-lg">
                <a class="card-image-lg" routerLink='/Ogloszenie/{{item.Guid}}' [ngStyle]="{'background-image': 'url(http://api.retromotors.pl/images/' + item.Image1 + ')'}">
                    <img src="http://api.retromotors.pl/images/{{item.Image1}}" alt="xx" />
                </a>
                <a class="card-description-lg" routerLink='/Ogloszenie/{{item.Guid}}'>
                    <h3>{{item.Mark}}</h3>
                    <h3>{{item.Model}}</h3>
                    <br> Kupno:
                    <h4 class="razem bold2"> {{item.SellingPrice | currency: ' '}} zł</h4>
                    <br> Wynajem:
                    <h4 class="razem bold2"> {{item.RentalPrice | currency: ' '}} zł</h4>
                    <hr> rok:
                    <p class="bold2"> {{item.ProductionYear}}r</p>
                    <br> przebieg:
                    <p class="bold2"> {{item.Mileage}}km</p>
                    <br> styl:
                    <p class="bold2"> {{item.Style}}</p>
                </a>
            </div>
        </div>
        <div class="card-list">
            <div *ngFor="let item of smallNoticeList" class="card-sm">
                <a class="card-image-sm" routerLink='/Ogloszenie/{{item.Guid}}' [ngStyle]="{'background-image': 'url(http://api.retromotors.pl/images/' + item.Image1 + ')'}">
                    <img src="http://api.retromotors.pl/images/{{item.Image1}}" alt="cc" />
                </a>
                <a class="card-description-sm" routerLink='/Ogloszenie/{{item.Guid}}'>
                    <h5>{{item.Mark}}</h5>
                    <h5>{{item.Model}}</h5>
                    Kupno:
                    <h6 class="razem bold2"> {{item.SellingPrice | currency: ' '}} zł</h6>
                    <br> Wynajem:
                    <h6 *ngIf="item.RentalPrice < 99000" class="razem bold2"> {{item.RentalPrice | currency: ' '}} zł</h6>
                    <p *ngIf="item.RentalPrice > 99000" class="razem bold2 small"> {{item.RentalPrice | currency: ' '}} zł</p>
                </a>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div *ngIf="!bigSize" class="card-list">
    <div *ngFor="let item of bigNoticeList" class="card-lg">
        <a class="card-image-lg" routerLink='/OgloszeniePromowane/{{item.Guid}}' [ngStyle]="{'background-image': 'url(http://api.retromotors.pl/images/' + item.Image1 + ')'}">
            <img src="http://api.retromotors.pl/images/{{item.Image1}}" alt="xx" />
        </a>
        <a class="card-description-lg" routerLink='/Ogloszenie/{{item.Guid}}'>
            <h3>{{item.Mark}}</h3>
            <h3>{{item.Model}}</h3>
            <br> Kupno:
            <h4 class="razem bold2"> {{item.SellingPrice | currency: ' '}} zł</h4>
            <br> Wynajem:
            <h4 class="razem bold2"> {{item.RentalPrice | currency: ' '}} zł</h4>
            <hr> rok:
            <p class="bold2"> {{item.ProductionYear}}r</p>
            <br> przebieg:
            <p class="bold2"> {{item.Mileage}}km</p>
            <br> styl:
            <p class="bold2"> {{item.Style}}</p>
        </a>
    </div>
</div>