.example-card {
	max-width: 400px;
  }
  
  .example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
  }

/* karta ogłoszenia */
.razem{
	display: inline-block;
}
.card-description-lg:hover {
    color: #444444;
    text-decoration: none;
}
.card-description-lg{
    text-align: left;
}
.card-description-sm:hover {
    color: #444444;
    text-decoration: none;
}
.card-description-sm{
    text-align: left;
}
.bold2{
    font-weight:900;
    display: inline-block;
    margin-bottom: 0px;
  }
  

@media (max-width: 575.99px) {
	.bold2{
		left: auto;
		white-space: normal !important;
	}
}

@media (max-width: 432px) {
	.card-sm{
		display:none !important;
	}
}
@media (max-width: 400px) {
	.card-lg{
		width:90%;
	}
}