<!-- <div class="col-md-12"> -->
    <div *ngFor="let notice of pagedItems">
        <app-notice-item [item]="notice"></app-notice-item>
    </div>
    <br>
    <nav aria-label="Page navigation example">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end flex-wrap">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link ukryj" (click)="setPage(1)">Pierwsza</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link " (click)="setPage(pager.currentPage - 1)">
                    <</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link " (click)="setPage(pager.currentPage + 1)">></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.totalPages)" class="page-link ukryj">Ostatnia</a>
            </li>
        </ul>
    </nav>
<!-- </div> -->