.panel{
	font-family: sans-serif;
	background-color: #32434D;
	border-bottom: 5px solid #890C16;
	color: white;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	font-weight: 600;
	font-size: 24px;
  }
  .panel2{
	font-family: sans-serif;
	padding-left: 40px;
	padding-right: 40px;
	color: #444444;
	text-align: justify;
  }
  .info{
	  font-size: 1rem;
  }
  .mat-card{
	padding-top:0px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.padding{
	padding-top:40px;
}
h2{
	font-weight: 900;
	white-space:nowrap !important;
}
.bold{
  font-weight:900;
	display: inline-block;
	position: absolute;
	left: 40%;
}

.bold3{
	font-weight:900;
	display: inline-block;
	position: absolute;
	left: 40%;
}
.razem{
	display: inline-block;
}
.fa-2x{
	margin-right: 8px;
}
.card-list{
	margin: auto;
}
.card-description-lg:hover {
    color: #444444;
    text-decoration: none;
}
.card-description-lg{
    text-align: left;
}
.card-description-sm:hover {
    color: #444444;
    text-decoration: none;
}
.card-description-sm{
    text-align: left;
}
.bold2{
    font-weight:900;
    display: inline-block;
    margin-bottom: 0px;
  }

@media (max-width: 991.99px) {
	.small{
		padding-top:25px;
	}
	.bold3{
		left: 25%;
	}
}
@media (max-width: 575.99px) {
	.bold3{
		left: auto;
		white-space: normal !important;
	}
	.bold{
		left: auto;
		white-space: normal !important;
	}
	h2{
		font-size:20px;
	}

	.panel2{
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
  @media (max-width: 767px) {
	.page-item{
	  background-position: 0% 0%;
	  height:300px;
	}
}
@media (max-width: 575.99px) {
	.bold2{
		left: auto;
		white-space: normal !important;
	}
}

@media (max-width: 400px) {
	.card-lg{
		width:90%;
	}
}