<div class="baner-image"></div>
<div class="background-opacity"></div>
<div class="white-background">
  <div class="container">
    <mat-card>
      <div class="row panel">
        <div class="col-sm-6 col-xs-12">
          <label>
            <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> Uzytkownik: {{username}}</label>
          <br>
          <label class="info">Ogłoszenie dodano: {{notice.StartDate}}</label>
        </div>
        <div class="col-sm-6-xs-12">
          <label class="info">Województwo: {{this.notice.Voivodeship}}</label>
          <br>
          <label class="info">Miejscowość: {{notice.City}}</label>
        </div>
      </div>
      <div class="col-12 padding panel2">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <h2>{{notice.Mark}} {{notice.Model}}</h2>
            rok:
            <p class="bold3">{{notice.ProductionYear}}</p>
            <br> przebieg:
            <p class="bold3">{{notice.Mileage}} km</p>
            <br> styl:
            <p class="bold3">{{notice.Style}}</p>
          </div>
          <div class="col-lg-4 col-md-12 small">
            Kupno:
            <h2 class="razem">{{notice.SellingPrice}} zł.</h2>
            <br>
            <br> Wynajem:
            <h2 class="razem">{{notice.RentalPrice}} zł.</h2>
          </div>
          <div class="col-lg-4 col-md-12 small">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <h2 class="razem">{{notice.PhoneNo}}</h2>
            <br>
            <br>
            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
            <h5 class="razem">{{notice.Email}}</h5>
          </div>
        </div>
        <div class="padding">
          <!-- <img src="/assets/commodore.jpg" alt="" style="max-width:100%"> -->
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        <div class="padding">
          <h2>Dane techniczne</h2>
          <br>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            Marka
            <p class="bold">{{notice.Mark}}</p>
            <br> Model
            <p class="bold">{{notice.Model}}</p>
            <br> Styl
            <p class="bold">{{notice.Style}}</p>
            <br> Rok produkcji
            <p class="bold">{{notice.ProductionYear}}</p>
            <br> Przebieg
            <p class="bold">{{notice.Mileage}} km</p>
            <br> Pojemność silnika
            <p class="bold">{{notice.EngineDisplacement}} cm3</p>
            <br> Moc silnika
            <p class="bold">{{notice.HorsePower}} KM</p>
            <br> VIN
            <p class="bold">{{notice.VinNo}}</p>
          </div>
          <div class="col-lg-6 col-sm-12">
            Liczba drzwi
            <p class="bold">{{notice.DoorsNo}}</p>
            <br> Liczba miejsc
            <p class="bold">{{notice.SeatsNo}}</p>
            <br> Kolor
            <p class="bold">{{notice.Colour}}</p>
            <br> Kraj pochodzenia
            <p class="bold">{{notice.Country}}</p>
            <br> Zarejestrowany w
            <p class="bold">{{notice.RegisteredIn}}</p>
            <br> Stan
            <p class="bold">{{notice.Condition}}</p>
            <br> Paliwo
            <p class="bold">{{notice.Fuel}}</p>
          </div>
        </div>
        <div class="padding">
          <h2>Wyposażenie</h2>
          <br>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="notice.ElectricMirrors">
              <i class="fa fa-check" aria-hidden="true"></i> Elektryczne ustawianie lusterek</div>
            <div *ngIf="notice.ElectricWindow">
              <i class="fa fa-check" aria-hidden="true"></i> Elektryczne opuszczanie szyb</div>
            <div *ngIf="notice.AirConditioning">
              <i class="fa fa-check" aria-hidden="true"></i> Klimatyzacja</div>
            <div *ngIf="notice.CruiseControl">
              <i class="fa fa-check" aria-hidden="true"></i> Tempomat</div>
            <div *ngIf="notice.LeatherSeats">
              <i class="fa fa-check" aria-hidden="true"></i> Skórzana tapicerka</div>
            <div *ngIf="notice.HeatedSeats">
              <i class="fa fa-check" aria-hidden="true"></i> Podgrzewane fotele</div>
            <div *ngIf="notice.SunRoof">
              <i class="fa fa-check" aria-hidden="true"></i> Szyberdach</div>
          </div>
        </div>
        <div class="padding">
          <h2>Opis</h2>
          <br>
        </div>
        <div class="col-12">
          <p>{{notice.Description}}</p>
        </div>
        <br>
        <p class="small">wyświetlenia: {{notice.DisplayCounter}}</p>
      </div>
      <div *ngIf="hide; else elseBlock">
        <div class="padding">
          <h2> Najnowsze ogłoszenia</h2>
          <br>
        </div>
        <mat-card-content *ngIf="hide; else elseBlock">
            <app-promoted [bigSize]="flase"></app-promoted>
        </mat-card-content>
      </div>
      <ng-template #elseBlock>
          <mat-card-content>
              <div class="col-md-12">
                  <button *ngIf="!notice.UserAccept" type="button" mat-raised-button color="accent" (click)="setUserAccept()">Zatwierdz</button>
                  <button type="button" mat-raised-button color="accent" (click)="goToEditNotice()">Edytuj</button>
                  <button type="button" mat-raised-button color="accent" (click)="delNotice()">Usuń</button>
                  <button type="button" mat-raised-button color="accent" (click)="back()">Powrót</button>
                </div>
          </mat-card-content>
      </ng-template>
    </mat-card>
  </div>
</div>
<br>
<br>
