@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html {
    font-family: 'Roboto';
  }

  .pokaz{
    display:none;
  }

  @media (max-width: 768px) {
    .ukryj{
      display:  none;
    }
    .pokaz{
      display: block;
    }
  }
  @media (max-width: 340px) {
    .navbar-brand{
      max-width:1px;
    }
  }



