<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
            <a class="navbar-brand" routerLink="/Index" routerLinkActive="active">
              <img src="/assets/logo.png" width="220" height="40" class="d-inline-block align-top" alt=""> 
            </a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
              <ul class="navbar-nav nav justify-content-end ">
                <li *ngIf="!isLoggedIn()" class="nav-item active padright">
                  <a class="nav-link" routerLink="/Logowanie" routerLinkActive="active"> <i class="fa fa-user-circle fa-lg" aria-hidden="true" ></i> Zaloguj</a>
                </li>
                <li *ngIf="isLoggedIn()" class="nav-item dropdown active padright">
                    
                    <!-- <a class="nav-link" routerLink="/Logowanie" routerLinkActive="active">Wyloguj {{username}} {{firstLetter}}</a> -->
                    <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> {{username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/UserPanel">Moje ogłoszenia</a>
                      <a class="dropdown-item" routerLink="/UserDetails">Ustawienia</a>
                      <div class="dropdown-divider pokaz"></div>
                      <a class="dropdown-item pokaz" routerLink="/NoticeAdd" routerLinkActive="active">Dodaj ogłoszenie</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="Logout()">Wyloguj</a>
                    </div>
                </li>
                <li class="nav-item ukryj">
                  <a class="nav-link menubutton" routerLink="/NoticeAdd" routerLinkActive="active"> <i class="fa fa-plus fa-lg" aria-hidden="true"></i> Dodaj ogłoszenie</a>
                </li>
              </ul>
        </div>
    </nav>
    <div class="avatar-container item" *ngIf="isLoggedIn()">
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
    
    
