<div>
    <div class="container">
        <mat-card>
            Dziękujemy za potwierdzenie rejestracji konta. Od tej chwili możliwe jest logowanie się do serwisu RetroMotors.pl przy użyciu
            adresu mailowego i hasła ustawionego podczas rejestracji.
        </mat-card>
    </div>
    <br>
</div>
<br>