<div class="white-background">
  <br>
  <div class="container">
    <h2>Regulamin serwisu RetroMotors.pl</h2>
    <p>Zgadzasz się na wszystko ziooom  :)</p>
    <br>
    <mat-tab-group>
      <mat-tab label="Tab 1">Content 1</mat-tab>
      <mat-tab label="Tab 2">Content 2</mat-tab>
    </mat-tab-group>
  </div>
</div>

<fa name="cog" animation="spin"></fa>
<fa name="cog" animation="spin"></fa>
<fa name="cog" animation="spin"></fa>
<fa name="cog" animation="spin"></fa>

