<div class="banner-sponsor" (click)="goToSponsor()"></div>
<div class="container content">
  <br>
  <app-search (onProp)="search($event)"></app-search>
  <br>
  <div *ngIf="promoted">
    <app-promoted [bigSize]="true"></app-promoted>
  </div>
  <div *ngIf="!promoted">
    <mat-card class="no-padding">
      <mat-toolbar>Wyniki wyszukiwania</mat-toolbar>
      <hr>
      <mat-card-content *ngIf="!noData; else elseBlock">
        <app-notice-list [data]="notices"></app-notice-list>
      </mat-card-content>
      <ng-template #elseBlock>
        <img src="/assets/noData.png" alt=":(" style="max-width:100%">
      </ng-template>
    </mat-card>
  </div>
  <br>
</div>