.mat-card{
    margin-bottom:300px;
}
.banner-sponsor{
	background-image: url("sponsor-L.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	height:500px;
	}
	@media (max-width: 1273px) {
		.banner-sponsor{
			height:400px;
		}
	}
		@media (max-width: 991px) {
			.banner-sponsor{
			background-image: url("sponsor-M.jpg");
			max-height:350px;
		}
	}
		@media (max-width: 750px) {
			.banner-sponsor{
			max-height:300px;
		}
	}
		@media (max-width: 575px) {
			.banner-sponsor{
			background-image: url("sponsor-S.jpg");
			height:200px;
		}
	}
	@media (max-width: 400px) {
		.banner-sponsor{
		height:150px;
	}
}