<div class="baner-image"></div>
<div class="background-opacity"></div>
<div class="white-background">
    <div class="container">
        <mat-card class="rozmiar">
            <div class="row panel">
                <div class="col-6">
                    <label>{{username}}</label>
                </div>
                <div class="col-6 textright">
                    Stan Konta: 0 zł
                </div>
            </div>
            <div class="row">
                <div class="col-6 nav-log-active">
                    <h2 class="card-title">Moje ogłoszenia</h2>
                </div>
                <div class="col-6 nav-log">
                    <a routerLink="/UserDetails" routerLinkActive="active">
                        <h2 class="card-title">Moje ustawienia</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div *ngIf="notices">
                    <mat-card class="no-padding">
                        <mat-toolbar>Moje ogłoszenia</mat-toolbar>
                        <hr>
                        <mat-card-content>
                            <app-notice-list [data]="notices"></app-notice-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<br>
<br>