.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}


.form {
width: 580px;
margin: 4em auto;
padding: 3em 2em 2em 2em;
background: #fafafa;
border: 1px solid #ebebeb;
box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
/*dodane przez Szymon */
.nav-log-active a{
color: #474747;
text-decoration: none;
}
.nav-log a{
color: #474747;
text-decoration: none;
}


.rozmiar{
  padding-top:0px ;
  padding-right: 15px ;
  padding-left: 15px ;
  }

h2{
font-size: 25px;
}
.nav-log-active{
padding-top:12px;
color: #474747;
font-weight:900;
text-align: center;
border-bottom: 3px solid #890C16;
border-right: 1px solid #474747;
margin-bottom:20px;
}
.nav-log{
padding-top:12px;
color: #474747;
font-weight:900;
background: #DCDCDC;
text-align: center;
border-bottom: 3px solid #32434D;
border-left: 1px solid #474747;
margin-bottom:20px;
}
.panel{
  font-family: sans-serif;
  background-color: #32434D;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}
.textright{
  text-align: right;
}

/* lista ogloszen */
.card{
  color: #474747;
  margin-bottom: 25px;
}
.tytul{
  font-weight: 900;
  font-size: 2.0rem;
}
.card-text{
  line-height:1.8rem;
}
.price-card{
  font-size: 1.5rem;
  line-height:3rem;
}
.price{
  font-size:2.0rem; 
  font-weight:900;
  display: inline-block;
}
.page-item.active .page-link{
  background-color: #32434D;
  border-color: #32434D;
}
.page-link{
  color: #32434D;
}
.odstep{
  margin-top:10px;
}
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.mat-toolbar{
  background-color: #DCDCDC;
}
@media (max-width: 991px) {
  .card-title{
    margin-top:15px;
  }
  .price-card{
    margin-top:15px;
    line-height: 2rem;
  }
  .price{
    line-height: 2rem;
  }
}
@media (max-width: 770px) {
  .page-item{
    height: 38px !important;
  }
}
@media (max-width: 575px) {
  .card-text{
    font-size: 0.9rem;
  }
  .price-card{
    font-size: 0.8rem;
  }
  .price{
    font-size:1.5rem; 
  }
}
