@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
    font-family:'FontAwesome';
    src:url('/src/assets/font-awesome/fonts/fontawesome-webfont.eot');
    /* src:url('/src/assets/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('/src/assets/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('/src/assets/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('/src/assets/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('/src/assets/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg'); */
    font-weight:normal;
    font-style:normal
}

.baner {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.content {
    position: relative;
  /* top: 250px; */
	/* box-shadow: 0 0 15px rgba(0,0,0,.3); */
	/* background-color: rgb(233, 233, 233); */
	box-sizing: border-box;
	overflow: hidden;
}

/*style dla kart */

/* Lazy Load Styles */
.card-image-lg {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.card-image-lg > img {
	display: block;
	width: 50%;
	opacity: 0; /* visually hide the img element */
}

.card-image-sm {
	display: block;
	min-height: 10rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.card-image-sm > img {
	display: block;
	width: 50%;
	opacity: 0; /* visually hide the img element */
}

.card-image-lg.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}

/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	background-color: rgb(233, 233, 233);
}

.card-list {
	display: block;
	/* margin: 1rem auto; */
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card-lg {
	display: inline-block;
	width: 100%;
	max-width: 20rem;
	/* margin: 1rem; */
	margin: 1.05rem;
	font-size: 1rem;
	text-decoration: none;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card-sm {
	display: inline-block;
	width: 100%;
	max-width: 10rem;
	/* margin: 1rem; */
	margin:0.45rem;
	font-size: 1rem;
	text-decoration: none;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card-lg:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-sm:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description-lg {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description-sm {
	display: block;
	padding: 0.5em 0.2em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}


/* dodane przez Szymon */
/*
*****************************************************************************
Responsywność
*****************************************************************************
*/
.mat-checkbox-layout, .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
white-space: normal !important;
}
/*
*****************************************************************************
Menu górne
*****************************************************************************
*/
.navbar {
	border-bottom: 5px solid #890C16;
	
}
.bg-dark{
	background: #32434D !important;
}
.mat-raised-button.mat-accent{
	background-color: #32434D;
}
.mat-button{
	color:#890C16 !important;
	text-decoration: underline !important;
}
.padright{
	padding-right: 10px;
}

/*
*****************************************************************************
Menu górne przycisk dodawania ogłoszeń
*****************************************************************************
*/
.menubutton{
	background-color: #890C16;
	border-radius: 5px;
	color: white !important;
	padding-left: 5px;
	padding-right: 5px;
}
.fa{
	padding-right: 5px;
  }

/*
*****************************************************************************
 Przewijanie w dodawaniu ogłoszeń
*****************************************************************************
*/

  .mat-step-header .mat-step-icon {
	background-color: #890C16;
  }
  .mat-step-header .mat-step-icon-not-touched{
	background-color: #32434D;
  }
/*
*****************************************************************************
	checkbox
*****************************************************************************
*/
  .mat-checkbox-checked .mat-checkbox-checkmark{
	background-color: #32434D;
  }
/*
*****************************************************************************
	Podkreślenie dla form
*****************************************************************************
*/
  .mat-form-field-ripple{
	background-color: #890C16;
	color: #32434D;
  }
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder{
	color: #32434D;
  }

/*
*****************************************************************************
	BANER SAMOCHODU
*****************************************************************************
*/
.baner-image{
	background-image: url("/assets/vintage-1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
	height:500px;
  }
	
  .white-background{
  margin-top: -192px;
  z-index: 2;
	}
	
  .background-opacity{
	margin-top: -192px;
	background-color: #fff;
	opacity: 0.8;
	z-index: 1;
	height:192px;
  }
@media (max-width: 1273px) {
	.baner-image{
	  background-position: 0% 0%;
	  height:400px;
	}
	.white-background{
	  margin-top: -92px;
	  }
	  .background-opacity{
		margin-top: -92px;
		height:92px;
	  }
  }
  @media (max-width: 991px) {
	.baner-image{
	  background-position: 0% 0%;
	  height:350px;
	}
  }
  @media (max-width: 767px) {
	.page-item{
	  background-position: 0% 0%;
	  height:300px;
	}
	}
  @media (max-width: 575px) {
	.baner-image{
	  background-position: 0% 0%;
	  height:280px;
	}
	.white-background{
	  margin-top: -130px;
	  }
	  .background-opacity{
		margin-top: -130px;
		height: 130px;
	  }
	}
	/*
*****************************************************************************
wyszukiwarka kolor podkreslenia
*****************************************************************************
*/
	.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
		background-color: #890C16;
		height: 3px;
	}
