/* 
  .form {
	width: 580px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
button{
  display: block;
  margin: auto;
  width: 50%;
  margin-top:10px;
}
mat-form-field{
  width: 80%;
  display:block;
  margin:auto;
}
mat-checkbox{
  color: gray;
  display: block;
  margin: auto;
  width: 50%;
} */

mat-form-field{
  width: 100%;
  display:block;
  margin:auto;
}
mat-toolbar{
  background: white;
}