  <div>
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab>
              <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm, 'isSelling')">
            <ng-template mat-tab-label>
              <mat-toolbar>Ogłoszenia Sprzedaży</mat-toolbar>
            </ng-template>
            <br>
            <div class="col-md-12 col-xs-12 col-lg-12">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <mat-form-field>
                    <input matInput formControlName="query" placeholder="Wyszukiwanie ogłoszeń" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4">
                  <mat-form-field>
                    <mat-select placeholder="Województwo" formControlName="Voivodeship">
                      <mat-option *ngFor="let item of wojewodztwa" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2">
                  <button [disabled]="!modelForm.valid" type="submit" mat-raised-button color="accent">Szukaj</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Marka" formControlName="marka" (change)="setModel($event.value)">
                      <mat-option *ngFor="let item of marki" [value]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Model" name="model" formControlName="model">
                      <mat-option *ngFor="let item of modele" [value]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <input matInput placeholder="Cena od" formControlName="cenaOd">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <input matInput placeholder="Cena do" formControlName="cenaDo">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Rok produkcji Od" formControlName="rokProdukcjiOd">
                      <mat-option *ngFor="let item of years" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Rok produkcji Do" formControlName="rokProdukcjiDo">
                      <mat-option *ngFor="let item of years" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Typ nadwozia" formControlName="typNadwozia">
                      <mat-option *ngFor="let item of typyNadwozia" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Rodzaj paliwa" formControlName="paliwo">
                      <mat-option *ngFor="let item of rodzajPaliwa" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            </form>
          </mat-tab>
          <!-- Ogłoszenia wybajmu -->
          <mat-tab>
              <form [formGroup]="modelRentalForm" (ngSubmit)="onSubmit(modelRentalForm, 'isRental')">
            <ng-template mat-tab-label>
              <mat-toolbar>Ogłoszenia Wynajmu</mat-toolbar>
            </ng-template>
            <div class="col-md-12 col-xs-12 col-lg-12" style="background-color:#EEEEEE">
              <br>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <mat-form-field>
                    <input matInput formControlName="query" placeholder="Wyszukiwanie ogłoszeń" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4">
                  <mat-form-field>
                    <mat-select placeholder="Województwo" formControlName="Voivodeship">
                      <mat-option *ngFor="let item of wojewodztwa" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-2">
                  <button [disabled]="!modelForm.valid" type="submit" mat-raised-button color="accent">Szukaj</button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Marka" formControlName="marka" (change)="setModel($event.value)">
                      <mat-option *ngFor="let item of marki" [value]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Model" name="model" formControlName="model">
                      <mat-option *ngFor="let item of modele" [value]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <input matInput placeholder="Cena od" formControlName="cenaOd">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <input matInput placeholder="Cena do" formControlName="cenaDo">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Rok produkcji Od" formControlName="rokProdukcjiOd">
                      <mat-option *ngFor="let item of years" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Rok produkcji Do" formControlName="rokProdukcjiDo">
                      <mat-option *ngFor="let item of years" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Styl" formControlName="styl">
                      <mat-option *ngFor="let item of style" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <mat-form-field>
                    <mat-select placeholder="Kolor" formControlName="kolor">                    
                      <mat-option *ngFor="let item of kolory" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
