<div class="baner-image"></div>
<div class="background-opacity"></div>
<div class="white-background">
  <div class="container">
    <mat-card>
      <div class="row">
        <div class="col-6 nav-rej">
          <a routerLink="/Logowanie" routerLinkActive="active">
            <h2 class="card-title">Logowanie</h2>
          </a>
        </div>
        <div class="col-6 nav-rej-active">
          <h2 class="card-title">Rejestracja</h2>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6">
            <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">
              <mat-card-content>
                <div class="col-12">
                  <br>
                  <div class="register-container">
                    <mat-form-field>
                      <input matInput placeholder="E-mail" formControlName="login">
                      <mat-hint *ngIf="formErrors.login" class="text-danger" align="start">{{ formErrors.login }}</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="register-container">
                    <mat-form-field>
                      <input matInput placeholder="Hasło" formControlName="password" [type]="hide ? 'password' : 'text'">
                      <mat-hint *ngIf="formErrors.password" class="text-danger" align="start">{{ formErrors.password }}</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="register-container">
                    <mat-form-field>
                      <input matInput placeholder="Powtórz hasło" formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'">
                      <mat-hint *ngIf="modelForm.errors?.invalidComparePassword" class="text-danger" align="start">Hasła muszą być zgodne</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-12">
                  <label class="text-danger">{{ formErrors.statment }}</label>
                  <mat-checkbox formControlName="statment">Oświadczam, że zapoznałem się i akceptuję Regulamin serwisu</mat-checkbox>
                </div>
                <div class="col-12">
                  <label class="text-danger">{{ formErrors.recaptchaReactive }}</label>
                  <re-captcha formControlName="recaptchaReactive" (resolved)="resolved($event)"></re-captcha>
                </div>
                <br>
                <div class="col-12">
                  <button *ngIf="!modelForm.valid" mat-raised-button color="accent" type="button" (click)="checkValidation()">Rejestruj</button>
                  <button *ngIf="modelForm.valid" mat-raised-button color="accent" type="submit" (click)="checkValidation()">Rejestruj</button>
                  <label class="text-danger">{{ status }}</label>
                </div>
                <br>
              </mat-card-content>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="jumbotron">
              <p>Rejestracja oznacza akceptację Regulaminu serwisu retromotors.pl w aktualnym brzmieniu, a w szczególności oznacza,
                że poprzez rejestracje wyraża się zgodę na przetwarzanie danych osobowych przez serwis retromotors.pl z siedzibą
                w Poznaniu, w celu świadczenia przez retromotors.pl usług w ramach serwisu retromotors.
              </p>
              <hr class="my-4">
              <p>
                <button mat-button color="" type="button" (click)="goToTerms()">Przejdź do regulaminu</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <br>
</div>
<br>