<div class="baner-image"></div>
<div class="background-opacity"></div>
<div class="white-background">
  <div class="container">
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <h2>Nowe ogłoszenie</h2>
        <hr>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <!--
                *****************************************************************************
                 Dane podstawowe
                *****************************************************************************
                -->

          <mat-step [stepControl]="firstFormGroup">
            <br>
            <ng-template matStepLabel>Dane</ng-template>
            <div class="col-md-12">
              <h5 class="text-info">Uzupełnij podstawowe dane ogłoszenia</h5>
              <div class="col-md-8 col-sm-12">
                <mat-form-field>
                  <input matInput placeholder="Tytuł ogłoszenia" required formControlName="NoticeTitle">
                  <mat-hint *ngIf="formErrors.NoticeTitle" class="text-danger" align="start">{{ formErrors.NoticeTitle }}</mat-hint>
                </mat-form-field>
              </div>
              <br>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <mat-checkbox formControlName="IsSelling" (click)="toogleSell()">Chcę zamieścić ogłoszenie sprzedaży</mat-checkbox>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <mat-checkbox formControlName="IsRental" (click)="toogleRent()">Chcę zamieścić ogłoszenie wynajmu</mat-checkbox>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div *ngIf="isSell" class="col-md-12">
                      <mat-form-field>
                        <input matInput formControlName="SellingPrice" placeholder="Cena sprzedaży" type="number">
                        <span matSuffix>zł</span>
                      </mat-form-field>
                    </div>
                    <div *ngIf="isRent" class="col-md-12">
                      <mat-form-field>
                        <input matInput formControlName="RentalPrice" placeholder="Cena wynajmu" type="number">
                        <span matSuffix>zł</span>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12">
                <h5 class="text-info">Uzupełnij podstawowe dane samochodu</h5>
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Marka" formControlName="Mark" (change)="setModel($event.value)">
                        <mat-option *ngFor="let marka of marki" [value]="marka.viewValue">
                          {{marka.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-hint *ngIf="formErrors.Mark" class="text-danger" align="start">{{ formErrors.Mark }}</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Rok produkcji" formControlName="ProductionYear">
                        <mat-option *ngFor="let year of years" [value]="year.value">
                          {{year.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Typ nadwozia" formControlName="BodyType">
                        <mat-option *ngFor="let nadwozie of typyNadwozia" [value]="nadwozie.viewValue">
                          {{nadwozie.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Model" formControlName="Model">
                        <mat-option *ngFor="let model of modele" [value]="model.viewValue">
                          {{model.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-hint *ngIf="formErrors.Model" class="text-danger" align="start">{{ formErrors.Model }}</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <input matInput placeholder="Pojemność silnika" formControlName="EngineDisplacement" type="number">
                      <span matSuffix>cm³</span>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <input matInput placeholder="Przebieg" formControlName="Mileage" type="number">
                      <span matSuffix>km</span>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12">
                <h5 class="text-info">Uzupełnij dodatkowe dane samochodu</h5>
                <mat-checkbox (click)="toogleMoreData()">Dodatkowe dane samochodu</mat-checkbox>
              </div>
              <div *ngIf="isMoreData" class="col-md-12">
                <div class="row">
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Paliwo" formControlName="Fuel">
                        <mat-option *ngFor="let paliwo of rodzajPaliwa" [value]="paliwo.viewValue">
                          {{paliwo.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Styl" formControlName="Style">
                        <mat-option *ngFor="let styl of style" [value]="styl.viewValue">
                          {{styl.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <input matInput placeholder="Moc silnika" formControlName="HorsePower" type="number">
                      <span matSuffix>KM</span>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <input matInput placeholder="Numer VIN" formControlName="VinNo">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                        <mat-select placeholder="Kolor" formControlName="Colour">
                            <mat-option *ngFor="let kolor of kolory" [value]="kolor.value">
                              {{kolor.viewValue}}
                            </mat-option>
                          </mat-select>
                      <!-- <input matInput placeholder="Kolor" formControlName="Colour"> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Kierownica" formControlName="SteeringWheel">
                        <mat-option *ngFor="let kierownica of kierownice" [value]="kierownica.value">
                          {{kierownica.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Stan" formControlName="Condition">
                        <mat-option *ngFor="let stan of stany" [value]="stan.viewValue">
                          {{stan.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Skrzynia biegów" formControlName="Transmission">
                        <mat-option *ngFor="let skrzynia of skrzynie" [value]="skrzynia.value">
                          {{skrzynia.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Napęd" formControlName="Drive">
                        <mat-option *ngFor="let naped of napedy" [value]="naped.value">
                          {{naped.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Kraj pochodzenia" formControlName="Country">
                        <mat-option *ngFor="let kraj of kraje" [value]="kraj.value">
                          {{kraj.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Zarejestrowany w" formControlName="RegisteredIn">
                        <mat-option *ngFor="let rejestracja of kraje" [value]="rejestracja.value">
                          {{rejestracja.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Liczba drzwi" formControlName="DoorsNo">
                        <mat-option *ngFor="let drzwi of liczbaDrzwi" [value]="drzwi.value">
                          {{drzwi.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <mat-form-field>
                      <mat-select placeholder="Liczba miejsc" formControlName="SeatsNo">
                        <mat-option *ngFor="let miejsce of liczbaDrzwi" [value]="miejsce.value">
                          {{miejsce.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div>
                <button mat-button type="button" matStepperNext>Przejdź do wyposażenia</button>
              </div>
            </div>
          </mat-step>
          <!--
                *****************************************************************************
                Dodatkowe wyposażenie
                *****************************************************************************
                -->
          <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Wyposażenie</ng-template>
            <h4 style="margin-top:15px;">Dodatkowe wyposażenie auta:</h4>
            <div class="row odstep-gora-dol">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="ElectricMirrors">Elektryczne ustawianie lusterek</mat-checkbox>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="ElectricWindow">Elektryczne opuszczanie szyb</mat-checkbox>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="AirConditioning">Klimatyzacja</mat-checkbox>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="SunRoof">Szyberdach</mat-checkbox>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="CruiseControl">Tempomat</mat-checkbox>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="HeatedSeats">Podgrzewane siedzenia</mat-checkbox>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <mat-checkbox formControlName="LeatherSeats">Skórzane fotele</mat-checkbox>
              </div>
            </div>
            <div>
              <button mat-button type="button" matStepperPrevious>Wróć do danych</button>
              <button mat-button type="button" matStepperNext>Przejdź do opisu</button>
            </div>

          </mat-step>
          <!--
                *****************************************************************************
                Opis ogłoszenia
                *****************************************************************************
                -->
          <mat-step [stepControl]="firstFormGroup">

            <ng-template matStepLabel>Opis</ng-template>
            <h4 style="margin-top:15px;">Opis dla ogłoszenia:</h4>
            <div class="col-12">
              <mat-form-field>
                <textarea rows="20" matInput formControlName="Description"></textarea>
              </mat-form-field>
            </div>
            <div>
              <button mat-button type="button" matStepperPrevious>Wróć do wyposażenia</button>
              <button mat-button type="button" matStepperNext>Przejdź do galerii</button>
            </div>

          </mat-step>
          <!--
                *****************************************************************************
                Dodawanie zdjęć do ogłoszenia
                *****************************************************************************
                -->
          <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Galeria</ng-template>
            <h4 style="margin-top:15px;">Dodaj zdjęcia do ogłoszenia:</h4>
            <p>Możesz dodać do 8 zdjęćMaksymalny rozmiar to 5 MB</p>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image1')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image2')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image3')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image4')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image5')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image6')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image7')"></fancy-image-uploader>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 padding-top ">
                  <fancy-image-uploader [options]="options" (onUpload)="onUpload($event, 'Image8')"></fancy-image-uploader>
                </div>
              </div>
            </div>
            <div>
              <button mat-button type="button" matStepperPrevious>Wróć do opisu</button>
              <button mat-button type="button" matStepperNext>Przejdź do danych kontaktowych</button>
            </div>
          </mat-step>
          <!--
                *****************************************************************************
                Kontakt i zakończenie
                *****************************************************************************
                -->
          <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Kontakt</ng-template>
            <h4 style="margin-top:15px;">Dane kontaktowe:</h4>
            <div class="row">
              <div class="col-6">
                <mat-form-field>
                  <input matInput placeholder="Miejscowość" formControlName="City">
                </mat-form-field>
              </div>
              <div class="col-6">
                  <mat-select placeholder="Województwo" formControlName="Voivodeship">
                      <mat-option *ngFor="let item of wojewodztwa" [value]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput placeholder="Nr telefonu" formControlName="PhoneNo">
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input matInput placeholder="Adres e-mail" formControlName="Email" readonly>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button type="button" matStepperPrevious>Wróć do galerii</button>
              <button *ngIf="modelForm.valid" mat-button type="submit" class="prawa-strona">Aktualizuj ogłoszenie</button>
              <button *ngIf="!modelForm.valid" mat-button type="button" class="prawa-strona" (click)="checkValidation(stepper)">Aktualizuj ogłoszenie</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card>
    </form>
  </div>
  <br>
</div>
<br>

<!-- <div>
    <pre>Czy wszystkie pola są wypełnione prawidłowo?: <br>{{modelForm.valid | json}}</pre>
    <pre>Pola Formularz/ obiekt json: <br>{{modelForm.value | json}}</pre>
</div> -->