
.login-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-container > * {
    width: 100%;
  }

  .mat-form-field{
    display: flex;
    flex-direction: column;
  }
  .mat-form-field > * {
    width: 100%;
  }
  

  .form {
	width: 580px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
/*dodane przez Szymon */
.nav-log-active a{
  color: #474747;
  text-decoration: none;
}
.nav-log a{
  color: #474747;
  text-decoration: none;
}

h2{
  font-size: 25px;
}
.nav-log-active{
  padding-top:12px;
  color: #474747;
  font-weight:900;
  text-align: center;
  border-bottom: 3px solid #890C16;
  border-right: 1px solid #474747;
  margin-bottom:20px;
}
.nav-log{
  padding-top:12px;
  color: #474747;
  font-weight:900;
  background: #DCDCDC;
  text-align: center;
  border-bottom: 3px solid #32434D;
  border-left: 1px solid #474747;
  margin-bottom:20px;
}
.mat-button{
    background-color: #32434D;
    color:white !important;
    text-decoration: none !important;
    margin-top: 20px;
}
.odstep-gora-dol{
  margin-top: 40px;
  margin-bottom: 40px;
}
.prawa-strona{
  float: right;
}
.text-info{
  color: #32434D !important;
}
.padding-top{
  padding-top: 10px;
}
fancy-image-uploader{
  max-width: 100%;
  display:block;
  width:50%;
  margin:auto;
}
.srodek{
  display:block;
  width:50%;
  margin:auto;
}
  